In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Sampling

In [108]:
df1 = pd.read_csv('nina_libinvent__result.csv')
df1['bioactivity'] = df1.bioactivity.apply(lambda x: 10**x)
df1 = df1.sort_values(by=['bioactivity'])
df1

,smiles,bioactivity,QED,sascore,rascore,lipinski_ro5,lipinski_ro3,tox_groups,diversity
51,CCC(C)(O)C#[C:1][CH:1]1CN(c2cc[c:0](-[c:0]3c(C...,0.196478,0.410323,4.346180,0.360400,True,False,0,0.505495
106,C#CN1CCCC(c2c(C(=O)Nc3ccc(-n4cncn4)cc3)no[c:0]...,0.239892,0.215820,4.672632,0.258138,True,False,2,0.514880
685,CC(=O)N1Cc2cnc([NH:0][c:0]3ccc(N4C[CH:1]([C:1]...,0.338094,0.538008,5.229198,0.523976,False,False,0,0.521188
851,CN(CC#N)C(=O)C1(c2ccc[c:1](-[c:1]3ccc4c(c3)OCC...,0.351700,0.339185,4.267551,0.005969,True,False,1,0.538238
242,N#C[CH2:0][CH:0]1OC(=O)N2c3cc[c:1](-[c:1]4[nH]...,0.384988,0.903566,4.033282,0.043720,True,False,0,0.537226
...,...,...,...,...,...,...,...,...,...
153,COc1ccc([C:1](C)(O)[CH:1]2CN(c3cc[c:0]([CH3:0]...,37.904873,0.936438,3.053229,0.869241,True,False,0,0.476882
435,O=C1NC(Cc2cc[c:1](-[c:1]3ccncc3)cc2)[CH:0]([CH...,43.033259,0.860156,3.279796,0.483597,True,False,0,0.380051
408,CC(C)(C)OC(=O)N1CC[N:1]([c:1]2ccc(N3C[CH:0]([C...,50.350839,0.737938,3.144935,0.995280,True,False,0,0.434101
253,C[CH:0](Cc1ccc(Cl)c(Cl)c1)[CH:0]1CN(c2cc[c:1](...,52.328598,0.492865,3.453158,0.988808,False,False,0,0.489598
395,CN(O)C(=O)[C:1](C)(C)[CH:1]1CN(c2cc[c:0](-[c:0...,54.998341,0.533016,3.520862,0.847518,True,False,1,0.483271

In [109]:
df1.bioactivity.describe()

count    1000.000000
mean        6.283108
std         6.063158
min         0.196478
25%         2.405573
50%         4.496107
75%         8.056174
max        54.998341
Name: bioactivity, dtype: float64

In [110]:
df1['bioactivity'] = df1.bioactivity.apply(lambda x: np.log10(x))
df1.bioactivity.describe()

count    1000.000000
mean        0.640440
std         0.378112
min        -0.706687
25%         0.381219
50%         0.652837
75%         0.906128
max         1.740350
Name: bioactivity, dtype: float64

In [111]:
df1.lipinski_ro5.value_counts()

lipinski_ro5
True     911
False     89
Name: count, dtype: int64

In [112]:
df1.lipinski_ro3.value_counts()

lipinski_ro3
False    909
True      91
Name: count, dtype: int64

In [113]:
df1.tox_groups.value_counts()

tox_groups
0    793
1    182
2     21
3      4
Name: count, dtype: int64

In [114]:
df1.sascore.describe()

count    1000.000000
mean        3.716408
std         0.482484
min         2.491941
25%         3.364869
50%         3.659523
75%         4.003227
max         6.387588
Name: sascore, dtype: float64

In [115]:
df1.QED.describe()

count    1000.000000
mean        0.639309
std         0.220671
min         0.022406
25%         0.488369
50%         0.686652
75%         0.821515
max         0.946147
Name: QED, dtype: float64

In [116]:
df1.diversity.describe()

count    1000.000000
mean        0.480425
std         0.054463
min         0.298643
25%         0.447750
50%         0.489990
75%         0.517647
max         0.565920
Name: diversity, dtype: float64

#### top 100

In [117]:
df1 = pd.read_csv('nina_libinvent__result.csv')
df1['bioactivity'] = df1.bioactivity.apply(lambda x: 10**x)
df1 = df1.sort_values(by=['bioactivity'])
df1 = df1.iloc[:100]
df1

,smiles,bioactivity,QED,sascore,rascore,lipinski_ro5,lipinski_ro3,tox_groups,diversity
51,CCC(C)(O)C#[C:1][CH:1]1CN(c2cc[c:0](-[c:0]3c(C...,0.196478,0.410323,4.346180,0.360400,True,False,0,0.505495
106,C#CN1CCCC(c2c(C(=O)Nc3ccc(-n4cncn4)cc3)no[c:0]...,0.239892,0.215820,4.672632,0.258138,True,False,2,0.514880
685,CC(=O)N1Cc2cnc([NH:0][c:0]3ccc(N4C[CH:1]([C:1]...,0.338094,0.538008,5.229198,0.523976,False,False,0,0.521188
851,CN(CC#N)C(=O)C1(c2ccc[c:1](-[c:1]3ccc4c(c3)OCC...,0.351700,0.339185,4.267551,0.005969,True,False,1,0.538238
242,N#C[CH2:0][CH:0]1OC(=O)N2c3cc[c:1](-[c:1]4[nH]...,0.384988,0.903566,4.033282,0.043720,True,False,0,0.537226
...,...,...,...,...,...,...,...,...,...
77,COC(=O)c1ccc(NC(=O)[C:0](C)(C)[CH:0]2OC(=O)N3c...,1.399570,0.381514,4.018134,0.115637,True,False,0,0.537152
101,C[N:0](C)[CH:0]1OC(=O)N2c3cc[c:1](-[c:1]4ccc(F...,1.404564,0.380919,3.965815,0.037872,True,False,0,0.498995
119,C[C:0](C)(O)[CH:0]1CN(c2cc[c:1]([NH:1]c3ccnc4c...,1.406812,0.703715,3.306500,0.395056,True,False,0,0.497984
581,C[C:0](C)(C#N)[CH:0]1OC(=O)N2c3cc[c:1]([N:1]4C...,1.407689,0.868843,3.993176,0.227432,True,False,0,0.537807
874,Cc1cc(C#N)c[c:1](-[c:1]2ccc(CC3NC(=O)O[CH:0]3[...,1.419025,0.886022,3.465790,0.203984,True,False,0,0.439880

In [118]:
df1.bioactivity.describe()

count    100.000000
mean       0.996368
std        0.319583
min        0.196478
25%        0.756367
50%        1.032886
75%        1.267750
max        1.419025
Name: bioactivity, dtype: float64

In [119]:
df1.QED.describe()

count    100.000000
mean       0.623822
std        0.216418
min        0.159023
25%        0.434505
50%        0.652234
75%        0.806496
max        0.940420
Name: QED, dtype: float64

In [120]:
df1.sascore.describe()

count    100.000000
mean       3.937164
std        0.518191
min        2.890235
25%        3.527898
50%        3.936140
75%        4.292397
max        5.229198
Name: sascore, dtype: float64

In [121]:
df1.rascore.describe()

count    100.000000
mean       0.401925
std        0.337242
min        0.005969
25%        0.104601
50%        0.267189
75%        0.716219
max        0.993482
Name: rascore, dtype: float64

In [122]:
df1.diversity.describe()

count    100.000000
mean       0.509087
std        0.037934
min        0.380774
25%        0.495275
50%        0.512603
75%        0.537170
max        0.565920
Name: diversity, dtype: float64

In [123]:
df1.lipinski_ro5.value_counts()

lipinski_ro5
True     87
False    13
Name: count, dtype: int64

In [124]:
df1.lipinski_ro3.value_counts()

lipinski_ro3
False    99
True      1
Name: count, dtype: int64

In [125]:
df1.tox_groups.value_counts()

tox_groups
0    86
1    10
2     4
Name: count, dtype: int64

#### top 10

In [126]:
df1 = pd.read_csv('nina_libinvent__result.csv')
df1['bioactivity'] = df1.bioactivity.apply(lambda x: 10**x)
df1 = df1.sort_values(by=['bioactivity'])
df1 = df1.iloc[:10]
df1

,smiles,bioactivity,QED,sascore,rascore,lipinski_ro5,lipinski_ro3,tox_groups,diversity
51,CCC(C)(O)C#[C:1][CH:1]1CN(c2cc[c:0](-[c:0]3c(C...,0.196478,0.410323,4.346180,0.360400,True,False,0,0.505495
106,C#CN1CCCC(c2c(C(=O)Nc3ccc(-n4cncn4)cc3)no[c:0]...,0.239892,0.215820,4.672632,0.258138,True,False,2,0.514880
685,CC(=O)N1Cc2cnc([NH:0][c:0]3ccc(N4C[CH:1]([C:1]...,0.338094,0.538008,5.229198,0.523976,False,False,0,0.521188
851,CN(CC#N)C(=O)C1(c2ccc[c:1](-[c:1]3ccc4c(c3)OCC...,0.351700,0.339185,4.267551,0.005969,True,False,1,0.538238
242,N#C[CH2:0][CH:0]1OC(=O)N2c3cc[c:1](-[c:1]4[nH]...,0.384988,0.903566,4.033282,0.043720,True,False,0,0.537226
24,CO[C:1](C)(C#N)[CH:1]1CN(c2cc[c:0](-[c:0]3nn(C...,0.409072,0.208544,4.462571,0.452150,False,False,0,0.527325
376,O=C1NC(Cc2cc[c:1](-[c:1]3csnn3)cc2)[CH:0]([C:0...,0.450696,0.803444,3.722664,0.211269,True,False,0,0.458646
107,CC1=NC2CCNCC2=c2s[c:1](-[c:1]3ccc(N4C[CH:0]([C...,0.469097,0.729717,4.682457,0.332106,True,False,0,0.518609
641,Cc1nc(-c2ccc[c:1](-[c:1]3ccc4c(c3)OCC3[CH:0]([...,0.491057,0.467531,4.169350,0.056148,True,False,0,0.525995
907,C[C:1](C)(c1ccc([N+](=O)[O-])s1)[CH:1]1CN(c2cc...,0.516155,0.371518,4.952421,0.449845,True,False,0,0.492692

In [127]:
df1.bioactivity.describe()

count    10.000000
mean      0.384723
std       0.105579
min       0.196478
25%       0.341496
50%       0.397030
75%       0.464497
max       0.516155
Name: bioactivity, dtype: float64

In [128]:
df1.QED.describe()

count    10.000000
mean      0.498766
std       0.241825
min       0.208544
25%       0.347268
50%       0.438927
75%       0.681790
max       0.903566
Name: QED, dtype: float64

In [129]:
df1.sascore.describe()

count    10.000000
mean      4.453831
std       0.445806
min       3.722664
25%       4.193900
50%       4.404375
75%       4.680001
max       5.229198
Name: sascore, dtype: float64

In [130]:
df1.rascore.describe()

count    10.000000
mean      0.269372
std       0.186276
min       0.005969
25%       0.094928
50%       0.295122
75%       0.427483
max       0.523976
Name: rascore, dtype: float64

In [131]:
df1.diversity.describe()

count    10.000000
mean      0.514029
std       0.023834
min       0.458646
25%       0.507841
50%       0.519899
75%       0.526992
max       0.538238
Name: diversity, dtype: float64

In [132]:
df1.lipinski_ro5.value_counts()

lipinski_ro5
True     8
False    2
Name: count, dtype: int64

In [133]:
df1.lipinski_ro3.value_counts()

lipinski_ro3
False    10
Name: count, dtype: int64

In [134]:
df1.tox_groups.value_counts()

tox_groups
0    8
2    1
1    1
Name: count, dtype: int64

# RL(QED)

In [135]:
df2 = pd.read_csv('nina_libinvent_after_rl_qed__result.csv')
df2['bioactivity'] = df2.bioactivity.apply(lambda x: 10**x)
df2 = df2.sort_values(by=['bioactivity'])
df2

,smiles,bioactivity,QED,sascore,rascore,lipinski_ro5,lipinski_ro3,tox_groups,diversity
789,Cc1nc2cc(F)c(N)nc2n1[CH2:0][c:0]1ccc(N2C[CH:1]...,0.503065,0.628572,3.538050,0.959376,True,False,0,0.463729
857,O=C1NC(Cc2cc[c:0]([CH2:0]n3ccc4cc(F)cnc43)cc2)...,0.610923,0.517970,3.530862,0.564043,True,False,0,0.382817
917,Cc1ccnn2nc[c:0](-[c:0]3ccc(N4C[CH:1]([CH:1]5CC...,0.640419,0.753493,3.918530,0.750260,True,False,0,0.477641
30,N#C[CH2:1][CH:1]1OC(=O)N2c3cc[c:0](-[c:0]4ccn[...,0.707438,0.915676,3.814738,0.175693,True,True,0,0.497364
900,Cc1cccn[c:0]1-[c:0]1ccc2c(c1)OCC1N2C(=O)O[CH:1...,0.715147,0.826498,3.681925,0.049314,True,False,0,0.508063
...,...,...,...,...,...,...,...,...,...
209,CNc1ccn[c:0](-[c:0]2ccc(N3C[CH:1]([c:1]4cncn4C...,29.941784,0.729815,3.644141,0.957218,True,False,0,0.442412
956,Cc1c[c:1]([CH:1]2CN(c3cc[c:0]([CH:0]4CC4)nc3)C...,30.197256,0.859256,3.401492,0.767325,True,False,0,0.436317
550,Cc1cc[c:0](-[c:0]2ccc(N3C[CH:1]([c:1]4scnc4C)O...,42.195231,0.714631,3.313439,0.633494,True,False,0,0.436816
952,Cc1c(N)[c:0](-[c:0]2ccc(N3C[CH:1]([NH2:1])OC3=...,62.392087,0.837067,3.577240,0.837851,True,True,0,0.426155
134,NC[CH2:0][CH:0]1CN(c2cc[c:1](-[c:1]3cncc(O)c3)...,63.665717,0.902483,2.855385,0.990317,True,True,0,0.429522

In [136]:
df2.bioactivity.describe()

count    1000.000000
mean        6.163746
std         5.312891
min         0.503065
25%         2.996900
50%         4.806728
75%         7.810448
max        63.665717
Name: bioactivity, dtype: float64

In [137]:
df2['bioactivity'] = df2.bioactivity.apply(lambda x: np.log10(x))
df2.bioactivity.describe()

count    1000.000000
mean        0.677220
std         0.311687
min        -0.298376
25%         0.476672
50%         0.681849
75%         0.892676
max         1.803906
Name: bioactivity, dtype: float64

In [138]:
df2.lipinski_ro5.value_counts()

lipinski_ro5
True    1000
Name: count, dtype: int64

In [139]:
df2.lipinski_ro3.value_counts()

lipinski_ro3
False    875
True     125
Name: count, dtype: int64

In [140]:
df2.tox_groups.value_counts()

tox_groups
0    983
1     17
Name: count, dtype: int64

In [141]:
df2.sascore.describe()

count    1000.000000
mean        3.484430
std         0.370372
min         2.454412
25%         3.248103
50%         3.481972
75%         3.725038
max         5.805356
Name: sascore, dtype: float64

In [142]:
df2.QED.describe()

count    1000.000000
mean        0.819319
std         0.094814
min         0.397626
25%         0.768309
50%         0.840702
75%         0.890927
max         0.946976
Name: QED, dtype: float64

In [143]:
df2.diversity.describe()

count    1000.000000
mean        0.442343
std         0.046292
min         0.291108
25%         0.409218
50%         0.449167
75%         0.478101
max         0.526867
Name: diversity, dtype: float64

#### top 100

In [144]:
df2 = pd.read_csv('nina_libinvent_after_rl_qed__result.csv')
df2['bioactivity'] = df2.bioactivity.apply(lambda x: 10**x)
df2 = df2.sort_values(by=['bioactivity'])
df2 = df2.iloc[:100]
df2

,smiles,bioactivity,QED,sascore,rascore,lipinski_ro5,lipinski_ro3,tox_groups,diversity
789,Cc1nc2cc(F)c(N)nc2n1[CH2:0][c:0]1ccc(N2C[CH:1]...,0.503065,0.628572,3.538050,0.959376,True,False,0,0.463729
857,O=C1NC(Cc2cc[c:0]([CH2:0]n3ccc4cc(F)cnc43)cc2)...,0.610923,0.517970,3.530862,0.564043,True,False,0,0.382817
917,Cc1ccnn2nc[c:0](-[c:0]3ccc(N4C[CH:1]([CH:1]5CC...,0.640419,0.753493,3.918530,0.750260,True,False,0,0.477641
30,N#C[CH2:1][CH:1]1OC(=O)N2c3cc[c:0](-[c:0]4ccn[...,0.707438,0.915676,3.814738,0.175693,True,True,0,0.497364
900,Cc1cccn[c:0]1-[c:0]1ccc2c(c1)OCC1N2C(=O)O[CH:1...,0.715147,0.826498,3.681925,0.049314,True,False,0,0.508063
...,...,...,...,...,...,...,...,...,...
677,CC[CH2:1][c:1]1ccc(N2C[CH:0]([CH:0]3CCCCCNC3)O...,1.884601,0.919717,3.141877,0.838720,True,False,0,0.475009
43,O=C1NC(Cc2cc[c:0](-[c:0]3cnsc3)cc2)[CH:1]([CH:...,1.891217,0.942781,3.725388,0.173775,True,False,0,0.390960
693,O=C1O[CH:0]([CH2:0]C2CCNCC2)CN1c1cc[c:1]([N:1]...,1.893187,0.927518,2.879662,0.988392,True,False,0,0.431668
365,Cc1n[c:0](-[c:0]2ccc3c(c2)OCC2N3C(=O)O[CH:1]2[...,1.897763,0.907961,3.681985,0.244080,True,False,0,0.513635
345,CN1CC[N:0]([c:0]2ccc3c(c2)OCC2N3C(=O)O[CH:1]2[...,1.912500,0.849678,3.587390,0.667988,True,False,0,0.513555

In [145]:
df2.bioactivity.describe()

count    100.000000
mean       1.384848
std        0.376186
min        0.503065
25%        1.119929
50%        1.387855
75%        1.719243
max        1.912500
Name: bioactivity, dtype: float64

In [146]:
df2['bioactivity'] = df2.bioactivity.apply(lambda x: np.log10(x))
df2.bioactivity.describe()

count    100.000000
mean       0.122537
std        0.135138
min       -0.298376
25%        0.049187
50%        0.142341
75%        0.235336
max        0.281601
Name: bioactivity, dtype: float64

In [147]:
df2.lipinski_ro5.value_counts()

lipinski_ro5
True    100
Name: count, dtype: int64

In [148]:
df2.lipinski_ro3.value_counts()

lipinski_ro3
False    97
True      3
Name: count, dtype: int64

In [149]:
df2.tox_groups.value_counts()

tox_groups
0    97
1     3
Name: count, dtype: int64

In [150]:
df2.sascore.describe()

count    100.000000
mean       3.623917
std        0.316523
min        2.783596
25%        3.462371
50%        3.648226
75%        3.799807
max        4.942559
Name: sascore, dtype: float64

In [151]:
df2.QED.describe()

count    100.000000
mean       0.793644
std        0.108044
min        0.397626
25%        0.734229
50%        0.819332
75%        0.873678
max        0.942781
Name: QED, dtype: float64

In [152]:
df2.diversity.describe()

count    100.000000
mean       0.455016
std        0.045877
min        0.358011
25%        0.429118
50%        0.472571
75%        0.483774
max        0.514868
Name: diversity, dtype: float64

#### top 10

In [153]:
df2 = pd.read_csv('nina_libinvent_after_rl_qed__result.csv')
df2['bioactivity'] = df2.bioactivity.apply(lambda x: 10**x)
df2 = df2.sort_values(by=['bioactivity'])
df2 = df2.iloc[:10]
df2

,smiles,bioactivity,QED,sascore,rascore,lipinski_ro5,lipinski_ro3,tox_groups,diversity
789,Cc1nc2cc(F)c(N)nc2n1[CH2:0][c:0]1ccc(N2C[CH:1]...,0.503065,0.628572,3.538050,0.959376,True,False,0,0.463729
857,O=C1NC(Cc2cc[c:0]([CH2:0]n3ccc4cc(F)cnc43)cc2)...,0.610923,0.517970,3.530862,0.564043,True,False,0,0.382817
917,Cc1ccnn2nc[c:0](-[c:0]3ccc(N4C[CH:1]([CH:1]5CC...,0.640419,0.753493,3.918530,0.750260,True,False,0,0.477641
30,N#C[CH2:1][CH:1]1OC(=O)N2c3cc[c:0](-[c:0]4ccn[...,0.707438,0.915676,3.814738,0.175693,True,True,0,0.497364
900,Cc1cccn[c:0]1-[c:0]1ccc2c(c1)OCC1N2C(=O)O[CH:1...,0.715147,0.826498,3.681925,0.049314,True,False,0,0.508063
368,Cc1n[c:1]([CH:1]2CN(c3cc[c:0]([CH2:0]C4CCNCC4)...,0.719153,0.907159,3.577621,0.696518,True,False,0,0.445185
808,Cc1ccc(C)n2nc[c:0](-[c:0]3ccc(N4C[CH:1]([CH:1]...,0.726118,0.673058,3.907606,0.882533,True,False,0,0.473662
181,O=C1NC(Cc2cc[c:0]([CH:0]3CC3)cc2)[CH:1]([c:1]2...,0.736876,0.817988,4.177821,0.090551,True,False,0,0.396733
374,Cc1cc[c:0](-[c:0]2ccc(CC3NC(=O)O[CH:1]3[N:1]3C...,0.746136,0.921567,3.336380,0.531513,True,False,0,0.381448
577,O=C1O[CH:1]([NH2:1])C2COc3c[c:0](-[c:0]4cncn4C...,0.766582,0.908389,4.061817,0.514746,True,False,0,0.466795

In [154]:
df2.bioactivity.describe()

count    10.000000
mean      0.687186
std       0.080195
min       0.503065
25%       0.657174
50%       0.717150
75%       0.734187
max       0.766582
Name: bioactivity, dtype: float64

In [155]:
df2['bioactivity'] = df2.bioactivity.apply(lambda x: np.log10(x))
df2.bioactivity.describe()

count    10.000000
mean     -0.165924
std       0.055455
min      -0.298376
25%      -0.182730
50%      -0.144392
75%      -0.134202
max      -0.115441
Name: bioactivity, dtype: float64

In [156]:
df2.lipinski_ro5.value_counts()

lipinski_ro5
True    10
Name: count, dtype: int64

In [157]:
df2.lipinski_ro3.value_counts()

lipinski_ro3
False    9
True     1
Name: count, dtype: int64

In [158]:
df2.tox_groups.value_counts()

tox_groups
0    10
Name: count, dtype: int64

In [159]:
df2.sascore.describe()

count    10.000000
mean      3.754535
std       0.265803
min       3.336380
25%       3.547943
50%       3.748332
75%       3.915799
max       4.177821
Name: sascore, dtype: float64

In [160]:
df2.QED.describe()

count    10.000000
mean      0.787037
std       0.140611
min       0.517970
25%       0.693167
50%       0.822243
75%       0.908082
max       0.921567
Name: QED, dtype: float64

In [161]:
df2.diversity.describe()

count    10.000000
mean      0.449344
std       0.046521
min       0.381448
25%       0.408846
50%       0.465262
75%       0.476646
max       0.508063
Name: diversity, dtype: float64